* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

:root {
    --ff-heading: 'Staatliches', sans-serif;
    --ff-text: 'Palanquin', sans-serif;
  
    --bg-header: #8E9AAF;
    --contrast-header: #CBC0D3;
    --bg-body: #EFF1FF;
    --bg-h2: #FEEAFA;
    --color-header: #FFFFFF;
    --color-text: #23053A;
    --color-h2: #4A4E69;
    
    font-size: 62.5%;
  }

body {
  background: var(--bg-body);
  font-family: var(--ff-text);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  background: var(--bg-header);
  /*background: #8e9aaf;
	display: grid;
	place-items: center; */
}

 header img {
  filter: drop-shadow(0px 6px 6px rgba(0, 0, 0, 0.25));
  padding: 3.2rem 0;
}

h1 {
  color: var(--color-header);
  text-transform: uppercase;
	letter-spacing: 0.05em;
  line-height: 3.4rem;
  font-weight: normal;
  font-size: 4rem;
  font-family: 'Staatliches', cursive;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-font-smoothing: antialiased;

  background: var(--contrast-header);
	margin-bottom: 2.9rem;
	width: 100%;
  height: 4.9rem;
	text-align: center;
  padding: 0.8rem 8.6rem 0.7rem 8.7rem;
}

h2 {
	font-family: 'Staatliches', cursive;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	line-height: 3.4rem;

}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1.8rem 3.2rem 6rem;
	
}

.page {
  min-width: 38.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.item {
  display: grid;
  justify-content: center;
  gap: 3.6rem;
  margin: 0 auto;
  padding: 1.4rem 3.2rem 6rem;
}
  
.item p {
  font-family: var(--ff-text);
  text-align: center;
	
	font-weight: normal;
	font-size: 1.4rem;
	line-height: 2rem;
	color: var(--color-text)
	-webkit-font-smoothing;
  background: var(--bg-body) ;
}

.card {
  position: relative;
  height: fit-content;
	gap: 3.2rem;
	margin-top: 5rem;
}

.card img {
  width: 100%;
  object-fit: cover;
  transition: all 400ms;

  animation: topdown 800ms;

  border-radius: 2rem;
}

.card img:hover {
  transform: scale(1.1);
  filter: brightness(0.8);
}

.card h2 {
  font-family: var(--ff-heading);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  color: var(--color-h2);

  background: var(--bg-h2);
  border-radius: 2rem;

  padding: 0 2.3rem;

  position: absolute;
  right: 1.6rem;
  top: 1.6rem;

  animation: downtop 800ms;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}